$bgimage: "../images/general/boat.webp";

$blue1: rgba(0, 33, 41, 0.9);
$text-muted: rgba(40, 40, 40, 0.9);

$tpwhite: rgba(255, 255, 255, 0.7);
$tpgrey: rgba(240, 240, 240, 0.4);
$tpdarkgrey: rgba(145, 145, 145, 0.5);
$tpalmostblack: rgba(20, 20, 20, 0.5);

$col_tpbg: $tpwhite;
$col_sepborder: $tpdarkgrey;
$col_link: $blue1;
$col_linkhover: $text-muted;
$col_menu_link: black;
$col_menu_active: $tpalmostblack;
$col_menu_link_hover: $tpdarkgrey;

#background {
    background-image: url($bgimage);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 100%;
    min-height: 100vh;
}

#thebox {
    border-style: solid;
    border-width: 1px;
    border-color: $col_tpbg;
    border-radius: 6px;
    background-color: $col_tpbg;

    //width: 1000px;
    max-width: 1000px;
    min-width: 200px;

    height: auto;
    //min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#content {
    flex-grow: 1;
    margin: 15px 0px 15px 0px;
}

header {
    flex-basis: auto;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $col_sepborder;

    nav {
        ul {
            overflow: auto;
            list-style-type: none;
        }
    
        li {
            height: auto;
            float: center;
            border-right: 1px solid $col_sepborder;
            padding: 0 20px;
            border-right: none;
        }
    
        li:first-child{
            float: center;
            border-right: none;
        }
    
        li a {
            text-decoration: none;
            color: $col_menu_link;
            font: large Helvetica, Verdana, sans-serif;
            text-transform: uppercase;
    
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    
        li a:hover {
            color: $col_menu_link_hover;
        }
    
        li.active a {
            font-weight: bold;
            color: $col_menu_active;
        }
    }
}

hr {
    color: $col_sepborder;
}


footer {
    flex-basis: auto;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $col_sepborder;
}

a {
    color: $col_link;
    text-decoration: none;
}

.emph {
    font-weight: bold;
}

.contact {
    ul li {
        list-style: none;
        display: inline-block;
        text-align: center;
    }

    i {
        margin-left: 1em;
    }
}

/*@font-face {
    font-family: "Rudiment Chalk";
    src: url("/fonts/Rudiment.ttf");
}

.chalk {
    font-family: "Rudiment Chalk", monospace;
    font-weight: bold;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}*/





#portfolio {

    .floatcenter div{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }
    
    .floatright div{
        text-align: right;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }
    
    .floatleft div{
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }
    
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 30%
    }
    
}


.gallery {
    #images {
        list-style: none;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
    }

    li {
        flex-basis: auto;

        background: black;
        padding: 0;
        min-width: 40px;
        height: 200px;
        margin: 10px;

        text-align: center;
    }
}


#education {
    ul {
        list-style: none;
    }

    li {
        text-align: left;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .block-small {
            flex-basis: 10px;
        }

        >.block-large {
            flex-basis: 70%;
        }
    }

    .year {
        float:left;
        width: 100px;
    }
    
}



